@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animationErrorWindow {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  15% {
    opacity: 1;
    scale: 1;
  }
  85% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
  }
}

body {
  color: #fff;
  background: #1e1e1e;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.WindowError {
  background-color: #d41c2e;
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
  padding: 15px 10px;
  animation-name: animationErrorWindow;
  animation-duration: 3s;
  opacity: 0;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 17rem;
}

.WindowSuccess {
  background-color: #00b63a;
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
  padding: 15px 10px;
  animation-name: animationErrorWindow;
  animation-duration: 3s;
  opacity: 0;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 17rem;
}

@keyframes AnswerAnimation {
  0% {
    width: 0;
    opacity: 0;
  }
  10% {
    width: 100%;
    opacity: 1;
  }
  90% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

.showAnswer {
  opacity: 0;
  width: 0;
  padding: 8px;
  background-color: #00b63a;
  animation-name: AnswerAnimation;
  animation-duration: 5s;
}

/* Customize scrollbar */
::-webkit-scrollbar {
  width: 4px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* Cor do fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background: #f2ce4e; /* Cor do polegar da barra de rolagem */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor do polegar ao passar o mouse */
}
